@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 34px;
    background-color: rgb(182, 182, 182);
    word-wrap:break-word;
}
ul {
    list-style: none;
}
.guage-holder {
  width: 220px;
  margin: 50px auto 0;
  position: relative;
  text-align: center;
}
.control {
    width:300px;
    height: 210px;
    padding: 20px;
    margin:20px;
    border-bottom: 1px solid #ccc;
    position: relative;
    text-align: center;
    top: 200px;
}
.radio{
    display: block;
    cursor: pointer; 
    user-select:none;
    text-align: left;
    &+.radio{
    margin-top: 7px;
}
input{
    display: none;
    &+span{
    display: inline-block; 
    position: relative;
    padding-left: 20px;
    &:before{
    content: '';
    display: block; 
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    margin-right: 5px;
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    background: #fff;
}
&:after{
  content: '';
  display: block; 
  width: 10px;
  height: 10px;
  background: #222;
  position: absolute;
  border-radius: 50%;
  top: 3px;
  left: 3px;
  opacity: 0;
  transform: scale(0,0); 
  transition: all .2s cubic-bezier(0.64, 0.57, 0.67, 1.53);
}
}
&:checked+span:after{
    opacity: 1;
    transform: scale(1,1);
}
}
}   
.form-style{
    padding:5px;
    width: 500px;
}
.circle-mask {
  width: 220px;
  height: 106px;
  padding: 5px 10px 0;
  border-bottom: 1px solid #ccc;
  position: relative;
  text-align: center;
  overflow: hidden;
}
.circle, .circle-inner {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 10px solid #ccc;
  position: relative;
}
.circle-inner {
  position: absolute;
  top: -10px;
  left: -10px;
  border: 10px solid transparent;
  border-bottom: 10px solid #ec567b;
  border-left: 10px solid #ec567b;
  transition: .3s ease-in-out;
  transform: rotate(-45deg);
}
.circle-inner:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  border: 4px solid #ec567b;
  left: 14px;
  top: 14px;
}
.percentage {
  margin: 20px 0;
  font-weight: bold;
  color: #ed557b;
  font-size: 15px;
}
.text-box {
  width: 60px;
  height: 30px;
  text-align: center;
  padding: 0 10px;
  font-size: 15px;
  color: #666;
}
.gauge-copy {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  background: #019B9B;
  top: 60%;
  left: 50%;
  transition: .3s ease-in-out;
  transform: translate(-50%, -50%) rotate(0deg);
  margin: 8px 0 0;
}
.gauge-copy:after {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #f3ffbd;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.gauge-copy:before {
  content: "";
  position: absolute;
  border: 7px solid transparent;
  border-right: 70px solid #019B9B;
  left: -75px;
  top: 8px;
  width: 0;
  height: 0;
}

.img1{
  position: absolute;
  border: 7px solid transparent;
  left: 50px;
  top: 30px;
}

.img2{
  position: absolute;
  border: 7px solid transparent;
  right: 0px;
  top: 5px;
  height: 200px;
}

.submit{
  background: #019B9B;
  border-color: #f3ffbd;
  border-radius: 30%;
  height: 25px;
  width: 60px;
}

.submit:hover{
  background: #f3ffbd;
  border-color: #f3ffbd;
  border-radius: 30%;
  height: 25px;
  width: 60px;
}

input{
  width: 45px;
  height: 35px;
  padding: 2px;
  margin: 2px;
  text-align: center;
}