<!DOCTYPE html>
{% load static %}
<html>
    <head>
    <link rel="stylesheet"  href="{%  static  'iot/style.css'  %}" type="text/css">
    <script src="{%  static  'iot/script.js'  %}"></script>
    </head>
    <body>
        <img class="img1" src="{% static 'iot/logo.png' %}"/>
        <img class="img2" src="{% static 'iot/aut.png' %}"/>
        <div class='control'>
            <form action={% url 'index' %}  method="POST" class='form-style'>   
                {{control_state_form.control_state}} <br>
                <input class="submit" type="submit" value="Submit">
            </form>

            {% ifequal auto  False %}
            <form action={% url 'manualmode' %}  method="POST" class='form-style'> 
                    {{led_state_form.led_state}}<br>
                    <input class="submit" type="submit" value="Submit">  
            </form> 
            {% endifequal %}

            {% ifequal auto  True %}
            <form action={% url 'automode' %}  method="POST" class='form-style'> 
                    <label for="setpoint">Set Point T :</label><br>
                    {{setpoint_form.setpoint_t}} <br>

                    <label for="setpoint">Set Point H :</label><br>
                    {{setpoint_form.setpoint_h}} <br>

                    <input class="submit" type="submit" value="Submit">  
            </form> 
            {% endifequal %}

        </div>

        <div class="container">
            <div class="guage-holder">    
                <div class="circle-mask">
                    <div class="circle">
                        <div class="circle-inner"></div> 
                    </div>
                </div>
                <div class="percentage" >Temperture :  <span id="temp">0</span></div>
                <div class="gauge-copy"></div>
            </div>
             <div class="guage-holder">    
                <div class="circle-mask">
                    <div class="circle">
                        <div class="circle-inner"></div> 
                    </div>
                </div>
                <div class="percentage">Humidity : <span id="humid">0</span> %</div>
                <div class="gauge-copy"></div>
            </div>
        </div>

    </body>
    
    
</html>