<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1 >T is <span id="temp">{{ temp }}</span></h1>
        <h1 >H is <span id="humid">{{ humid }}</span></h1>

        <form action={% url 'index' %}  method="POST">   
            {{control_state_form.control_state}} 
            <input type="submit" value="Submit">
        </form>

        {% ifequal auto  False %}
        <form action={% url 'manualmode' %}  method="POST"> 
                {{led_state_form.led_state}}
                <input type="submit" value="Submit">  
        </form> 
        {% endifequal %}

        {% ifequal auto  True %}
        <form action={% url 'automode' %}  method="POST"> 
                <label for="setpoint">Set Point T :</label><br>
                {{setpoint_form.setpoint_t}} <br>

                <label for="setpoint">Set Point H :</label><br>
                {{setpoint_form.setpoint_h}} <br>

                <input type="submit" value="Submit">  
        </form> 
        {% endifequal %}

        
    </body>
    <script>
        function httpGet(theUrl)
        {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
            xmlHttp.send( null );
            return xmlHttp.responseText;
        }
        function setText(id,newvalue) {
            var s= document.getElementById(id);
            s.innerHTML = newvalue;
            }  
        function myFunction() {
            data = httpGet('http://127.0.0.1:8000/iot/getdata')
            data = JSON.parse(data)
            setText('temp',data.Temp)
            setText('humid',data.Humid)
        }
        //var timer = setInterval( myFunction, 5000);
        
    </script>
</html>